# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
7.5.1

# other
changelog.txt
desktop.ini
eclipse
run

# Files from Forge MDK
forge*changelog.txt
