# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# windows
desktop.ini

# other
changelog.txt
eclipse
ror_changelog.txt
run

# Files from Forge MDK
forge*changelog.txt
